@media screen and (max-width: 576px) {
    .container {
        width: 90% !important;
        max-width: 335px;
        margin: 0 auto;
    }

    h2 {
        font-size: 1.375rem;
        width: 304px;
    }

    p {
        font-size: 0.875rem;
        width: 304px;
        line-height: 21px;
    }

    /* Navigation Styles */
    .nav-container {
        padding: 18px 0;
    }

    .nav-container nav ul {
        display: none;
    }

    .nav-container nav button {
        display: inline-block;
        width: 7%;
        background-color: none;
        border: none;
        outline: none;
    }

    .nav-container .web-logo h1 {
        font-size: 1.346rem;
        font-weight: 800;
    }

    /* Banner Section Styles */

    #banner-section .banner-container {
        width: 304px;
    }

    #banner-section .banner-container .banner-text p {
        width: 304px;
    }

    #banner-section .banner-container .banner-form form {
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    #banner-section .banner-container .banner-form input,
    #banner-section .banner-container .banner-form select,
    #banner-section .banner-container .banner-form select option,
    #banner-section .banner-container .banner-form button {
        width: 100%;
    }

    /* Popular Tour Styles */
    #popular-tours {
        padding: 24px 0;
    }

    #popular-tours .tour-section-container {
        flex-direction: column;
    }

    /* Destination Section Styles */

    #destination .destination-text {
        width: 304px;
    }

    #destination .destination-img {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7 {
        grid-column: 1/-1;
    }

    /* Choose Us Section Styles */
    #choose-us {
        padding-top: 24px;
    }

    #choose-us .choose-card-container {
        flex-direction: column;
    }

    #choose-us .choose-text {
        width: 335px;
    }

    #choose-us .choose-card-container .card {
        width: 335px;
    }

    #choose-us .choose-card-container .card h3 {
        font-size: 1.25rem;
    }

    #choose-us .choose-card-container .card p {
        font-size: 0.875rem;
    }

    /* Deal Section Styles */
    #deal {
        padding-top: 24px;
    }

    #deal .deals-text {
        width: 304px;
    }

    #deal .deals-cards .cards {
        margin-top: 16px;
    }

    #deal .deals-cards .cards .cards-container {
        width: 100%;
        padding: 24px;
    }

    #deal .deals-cards .cards .cards-container .basic-info {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    #deal .deals-cards .cards .cards-container .description p {
        width: auto;
    }

    /* Perfect Place Section Styles */
    #perfect-place {
        flex-direction: column;
    }

    /* Newletter Section Style */
    #newsletter {
        flex-direction: column;
        padding: 24px 0;
    }

    #newsletter .newsletter-form p {
        width: 100%;
    }


    #newsletter .newsletter-form {
        padding: 20px;
    }

    #newsletter .newsletter-discount .discount-text {
        width: 214px;
        padding: 10px 20px;
        background-color: var(--primary-color);
        border-radius: 8px;
        position: absolute;
        right: 0px;
        bottom: 56px;
        transform: rotate(-32deg);
    }

    #newsletter .newsletter-discount .discount-text p {
        font-size: 1rem;
        width: 100%;
    }

    #newsletter .newsletter-discount .discount-text h3 {
        font-size: 1.375rem;
    }
}